.App {
  text-align: center;
}

nav {
  background-color: #3DC4FC;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerAllBeers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

}
.containerAllBeers h3{
  margin: 0;
  text-align:start;
  font-weight: 400;
  
}
.containerEachBeer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  gap: 2rem;
  width: 20rem;
  height: 10rem;
  border: .5px solid rgba(174, 174, 174, 0.399);
}

.containerAllInformationBeer{
  display: grid;
  justify-items: start
}

.containerBeerDetail{
  width: 20rem;
  padding: 3rem 2rem;
  border: .5px solid rgba(128, 128, 128, 0.133);
  
}